
.custom-navbar {
    background: #0d6efd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 0.6rem 1rem;
    z-index: 9999;
}

    .custom-navbar .nav-link {
        color: #fff !important;
        font-weight: 500;
        transition: 0.2s;
    }

        .custom-navbar .nav-link:hover {
            color: #d4e9ff !important;
        }

.dropdown-dark {
    background-color: #0c3d70;
    border-radius: 6px;
}

    .dropdown-dark .dropdown-item {
        color: #fff;
    }

        .dropdown-dark .dropdown-item:hover {
            background-color: #0b2e54;
            color: #d4e9ff;
        }


.logo-section .logo-text {
    color: #ffffff;
}


.btn-logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    transition: 0.2s;
}

    .btn-logout:hover {
        background-color: #bb2d3b;
    }

.main-container {
    margin-top: 90px;
    padding: 20px;
}


.card-medico {
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    background: white;
    max-width: 800px;
    margin: 20px auto;
}

    .card-medico h2,
    .card-medico h3 {
        color: #198754;
    }

.label-medico {
    font-weight: 600;
    color: #134330;
}

.input-medico {
    border-radius: 6px;
    border: 1px solid #cfcfcf;
}

.btn-medico {
    background-color: #198754;
    border: none;
    color: white;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 8px;
}

    .btn-medico:hover {
        background-color: #146c43;
    }


.table-medico {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

    .table-medico th {
        background: #198754;
        color: white;
        font-weight: 600;
    }

    .table-medico td {
        background: #f5f9f6;
    }

.container-medico {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

.card-medico .row {
    margin-left: 0;
    margin-right: 0;
}

.card-medico .row {
    margin-left: 0;
    margin-right: 0;
    gap: 15px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    height: 700px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

