body {
    font-family: "Segoe UI", sans-serif;
    background-color: #121A25; /* Fondo oscuro institucional #0f172a */
    color: #e2e8f0; /* Texto blanco para contraste */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-variant-caps: petite-caps;
}




